<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fish Species Predictor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body data-bs-theme="dark">
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg> -->
            <span class="fs-4">Fish Clasifier</span>
          </a>
        </header>
    </div>
    <div class="b-example-divider"></div>
    <div class="container my-5">
        <div class="p-5 text-center bg-body-tertiary rounded-3">
          <h1 class="text-body-emphasis">Predict your fish!</h1>
          <p class="col-lg-8 mx-auto fs-5 text-muted">
            Try out our Fish Classifier! 🐟🐠🐡🦈 <br> Accurately identify Bream, Roach, Whitefish, Parkki, Perch, Pike, and Smelt based on weight, length, height, and width using advanced machine learning.
          </p>
          <hr class="my-4">
          <div class="d-inline-flex gap-2 mb-5">
            <form action="/predict" method="post">
                <h1 class="h3 mb-3 fw-normal">Input the features of your fish</h1>
            
                <div class="form-floating mb-1">
                  <input type="number" class="form-control" id="Weight" placeholder="0" name="Weight" step="any">
                  <label for="Weight">Weight</label>
                </div>

                <div class="input-group mb-1">
                    <div class="form-floating">
                        <input type="number" class="form-control" id="Length1" placeholder="0" name="Length1" step="any">
                        <label for="Length1">Standard Length</label>
                      </div>
                    
                    <div class="form-floating">
                      <input type="number" class="form-control" id="Length2" placeholder="0"  name="Length2" step="any">
                      <label for="Length2">Fork Length</label>
                    </div>
    
                    <div class="form-floating">
                        <input type="number" class="form-control" id="Length3" placeholder="0"  name="Length3" step="any">
                        <label for="Length3">Total Length</label>
                    </div>
                </div>

                <div class="form-floating mb-1">
                  <input type="number" class="form-control" id="Height" placeholder="0"  name="Height" step="any">
                  <label for="Height">Height</label>
                </div>

                <div class="form-floating">
                  <input type="number" name="width" class="form-control" id="width" placeholder="0" step="any">
                  <label for="width">Width</label>
                </div>

            
                <div class="my-3"></div>
                <button class="btn btn-primary w-100 py-2" type="submit">Predict!</button>
                <p class="mt-5 mb-3 text-body-secondary">© Ayman Bukar 2024</p>
            </form>
          </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>